h1{ 
  background-color: crimson;
  border-style: solid;
  margin-left: 50px; 
  margin-right: 50px;
  margin-top: 50px;
  padding-left: 20px;
  color: blanchedalmond;
}
h2{
    color: rgb(190, 59, 59);
}


ul li{
  font-size: 15px;
  text-align: left;
  text-transform: uppercase;
}


a link{
color: black;
}


a:hover{
  color: red;
  font-size: 20px;

}

a:active{
  color:  blue;
  font-size: 25px;
}


a:visited{
  color: gray;
  font-size: 13px;
}